# day16 pandas

In [2]:
import pandas as pd

In [3]:
list1 = ["wood","red","red","white","blue","red"]

In [4]:
s = pd.Series(list1)

In [5]:
s

0     wood
1      red
2      red
3    white
4     blue
5      red
dtype: object

In [6]:
s.count()

6

In [17]:
s.isin(["red","white","black"])

0    False
1     True
2     True
3     True
4    False
5     True
dtype: bool

In [10]:
counts = pd.value_counts(s)

In [11]:
counts

red      3
wood     1
white    1
blue     1
Name: count, dtype: int64

In [27]:
un = pd.unique(s)

In [28]:
un

array(['green', 'orange', 'red', 'white', 'blue'], dtype=object)

In [36]:
k = s.update({0: "green", 1: "orange"})

In [37]:
df = pd.DataFrame(s)

In [38]:
df

        0
0   green
1  orange
2     red
3   white
4    blue
5     red

In [39]:
df.shape

(6, 1)