# day 15

In [22]:
import numpy as np

In [23]:
arr = np.genfromtxt("name_age_sex_data.csv", delimiter=",", dtype ='U7')

In [24]:
arr

array([['Name', 'Sex', 'Age'],
       ['Grace', 'Male', '18'],
       ['Charlie', 'Female', '60'],
       ['Olivia', 'Female', '27'],
       ['Frank', 'Male', '55'],
       ['Charlie', 'Male', '53']], dtype='<U7')

In [25]:
arr=arr.T

In [33]:
name = np.array(arr[0,1::1])

In [34]:
name

array(['Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie'], dtype='<U7')

In [42]:
sex = np.array(arr[1,1::1])

In [43]:
sex

array(['Male', 'Female', 'Female', 'Male', 'Male'], dtype='<U7')

In [45]:
age = np.array(arr[2,1::1], dtype=int)

In [46]:
age

array([18, 60, 27, 55, 53])

In [47]:
ag_56 = np.where(age == 56 )

In [54]:
ag_56

(array([], dtype=int64),)

In [61]:
ag_44 = np.where(age <= 44)
len(age[ag_44])

2

In [62]:
len(ag_44)

1

In [63]:
all_mf = np.where(sex == "Male")

In [64]:
len(sex[all_mf])

3

In [67]:
avg = np.where(sex == "Female")

In [69]:
np.mean(age[avg])

43.5

In [111]:
o_k = np.array([np.where(name== "Olivia"),np.where(name== "Grace")])

In [113]:
age[o_k].mean()

22.5

In [103]:
np.array([o_k])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (1, 2) + inhomogeneous part.