# day14

In [77]:
names = ["Kelly", "Ben", "Jack", "Mhammad", "Jose", "Liz"]
grades = [45,65,75,35,85,40]
classes = ["a","c","e","g","e","f"]

In [78]:
import numpy as np

In [79]:
arr = np.array([names,grades,classes])

In [80]:
arr

array([['Kelly', 'Ben', 'Jack', 'Mhammad', 'Jose', 'Liz'],
       ['45', '65', '75', '35', '85', '40'],
       ['a', 'c', 'e', 'g', 'e', 'f']], dtype='<U11')

In [87]:
name = np.array(arr[0,::])

In [88]:
name

array(['Kelly', 'Ben', 'Jack', 'Mhammad', 'Jose', 'Liz'], dtype='<U11')

In [89]:
marks = np.array(arr[1,::],dtype=int)

In [90]:
marks

array([45, 65, 75, 35, 85, 40])

In [91]:
grads = np.array(arr[2,::])

In [92]:
grads

array(['a', 'c', 'e', 'g', 'e', 'f'], dtype='<U11')

In [100]:
stud_nam = np.where(marks >50)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [101]:
stud_nam_1 = np.where(grads == "e")